/* ABOUT.CSS 

AUTHOR: JOSE DE LOS REYES

WEBSITE NAME:  JOSE PORTFOLIO

DESCRIPTION: in this document I added the css neeeded for my services.html*/

body {
    background-color: dimgrey;
    color: white;
    height: 100vh;
    width: 100vw;
}